

.footer {
  display: flex;
  background-color: #060403;
  height: 450px;
  justify-content: center;
  color: #E8DBCB;
}

.footer .wrap {
  width: var(--wrap);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 40px;
}

.footerLogo {
   border-right: #7A867D 1px solid;
  width: 25%;
}
.footerLogo img {
  width: 60%;
  padding-top: 10px;
}
.footerAbout {
  border-right: #7A867D 1px solid;
  width: 25%;
  padding: 0 10px;
}
.footerAddress {
  border-right: #7A867D 1px solid;
  width: 30%;
  padding: 0 10px;
}

.footerContent {
  display: flex;
  justify-content: row;
  gap: 20px;
}

.footerMap {
  width: 25%;
  padding: 0 10px;
}

.footerMap img {
  width: 100%;
  height: 100%;
  filter: grayscale(90%);
  position: relative;
}


.footerLegacy {
 display: flex;
    flex-direction: row;
    text-align: center;
    font-size:12px;
    width: 100%;
    border-top: #7A867D 1px solid;
    
    justify-content: space-between;
}

.footerLegacy img {
  width: 50px;
  height: 50px;
}

.footerButton button {
    padding: 5px 10px;
    background-color: rgba(95, 96, 96, 0.283);
    color: rgb(224, 233, 239);
    border-radius: 50px;
    border: 1px rgb(224, 233, 239) solid;
    font-size: 0.7rem;
    margin-block-end: 0em;
    position: absolute;
}

/*  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  padding-top: 80px;
}*/