.gallery-body {
  width: 100%;
  padding: 30px 0 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  background-color:rgb(63, 59, 59);
  justify-items: center;
}

.wrap {
  width: var(--wrap);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  flex-wrap: wrap;
  flex-direction: row;
}

.gallery-card-body {
  width: 32%;
  height: 200px;
  padding-bottom: 20px;
  border-radius: 5px;
  border: 1px black solid;
}

 /* .gallery-card-image {  */
 
 /* }  */

.gallery-card-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e6a969;
  color:#060403;
  
  
}

.isFavorite {
  width: 40px;
  height: 40px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg");
  background-size: 100%;
  align-self: flex-start;
}

.notFavorite {
  width: 40px;
  height: 40px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg");
  background-size: 100%;
  align-self: flex-start;
}

  .button{
    font:inherit ;
    font-size:2rem ;
    background-color: fuchsia;
    padding: 1rem 4rem;
    border: 1px solid white;
    border-radius: 5px;
    cursor:pointer;
    margin-top: 10px;
  }
  
  .button:hover{
    background-color: rgb(246, 93, 246);
    border-color:rgb(153, 15, 153) ;
    color:white;
  }
