
.gallery-body {
  padding-top: 30px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  background-color: #E8DBCB;
  border-radius: 3px;
}

.wrap {
  width: var(--wrap);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
  flex-direction: row;
}

.gallery-card-body {
  width: 32%;
  position: relative;
  margin-bottom: 2%;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(108, 108, 108, 0.2);
  color: #FDFDFB;
  box-sizing: border-box;
}

.gallery-card-body:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img.gallery-card-image{
  width: 100%;
  
}

.gallery-card-footer {
  padding:0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:#060403;
  align-items:center;
}

p.gallery-card-title{
  margin: 0 0 16px;
  font-size: 1rem;
}


.GalleryButton{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px ;
}
