.gallery-body {
  padding: 50px 20px 0;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  background-color: #E8DBCB;
  border-radius: 3px;
}

.wrap {
  width: var(--wrap);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
  flex-direction: row;
}

img.gallery-card-image{
  width: 100%;
  
}

.gallery-card-footer {
  padding:0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:#060403;
  align-items:center;
}

.GalleryButton{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px ;
}
