

.searchbar {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  color: #fff;
}

.searchbar .wrap {
  width: var(--wrap);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2%;
  flex-wrap: wrap;
  flex-direction: row;
}
