@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content-container {
  background-color: rgba(0, 0, 0, 0.7);
  
}

.content-containerwrap {
  width: var(--wrap);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2%;
  flex-wrap: wrap;
  flex-direction: row;
}

.content-container img {
  border-radius: 3px;
  animation: fadeIn 1s;
  cursor: zoom-in;
  transition: transform 0.5s; /* Animation */
}

.content-container img:hover {
  transform: scale(
    1.01
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
