.content-article-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-content: space-between;
  width: 380px;
  color: #fff;
}

.content-article-container header {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

p.departement {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 0.8rem;
  color: #f5efe8;
}

h1 {
  font-family: "Bigshot One", cursive;
  font-size: 3em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #f5efe8;
}

h2 {
  font-size: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.content-article-container ul {
  padding-inline-start: 0px;
  text-align: left;
  color: #f5efe8;
  font-size: 1rem;
}

.content-article-container ul li {
  text-align: none;
  list-style: none;
  font-size: 1rem;
}

.content-button {
  display: flex;
  gap: 10px;
}

.content-button p {
  display: flex;
  padding: 8px 17px 8px 13px;
  background-color: rgba(95, 96, 96, 0);
  color: #7a867b;
  border-radius: 50px;
  border: 2px #7a867b solid;
  font-size: 0.9rem;
  font-weight: 600;
  margin-block-end: 0em;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.content-button p:hover {
  background-color: none;
  color: #e8dbcb;
  border: 2px #e8dbcb solid;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  padding: 0 5px 0 0;
  font-size: 0.8rem;
}

.MuiAutocomplete-root {
  background-color: #fff;
  color: black;
}

.MuiAutocomplete-hasPopupIcon {
  background-color: #fff;
  color: black;
}
