.content-article-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-content: space-between;
  height: 300px;
}

.content-article-container header {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

p.departement {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 0.8rem;
  color: rgb(101, 102, 103);
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.content-article-container ul {
  padding-inline-start: 0px;
  text-align: left;
}

.content-article-container ul li {
  text-align: none;
  list-style: none;
}

.content-button {
  display: flex;
  gap: 10px;
}

.content-button p {
  padding: 5px 10px;
  background-color: rgb(95, 96, 96);
  color: #fff;
  border-radius: 50px;
  font-size: 0.7rem;
  margin-block-end: 0em;
}
