.NavBar {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 3rem;
  gap: 20px;
  color: #fdfdfb;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.NavBar .wrap {
    width: var(--wrap);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.NavLogo {
  display: flex;
  
}

.NavLogo img {
  height: 3em;
}

.navFilter {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.NavButton{
  background-color:transparent;
	border: 2px solid #7a867b;
	cursor:pointer;
	color:#7a867b;
	text-decoration:none;
  border-radius: 50px;
  display: flex;
  padding: 8px 17px 8px 13px;
  font-size: 0.9rem;
  font-weight: 600;
  margin-block-end: 0em;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.NavButton:hover {
	color: #e8dbcb;
  border: 2px #e8dbcb solid;
}

