.searchbar {
  background-color: #b5ab9e;
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  color: #fff;
}

.searchbar .wrap {
  width: var(--wrap);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2%;
  flex-wrap: wrap;
  flex-direction: row;
}
.NavTitle{
  display: flex;
    justify-content: space-around;
    width: 22%;
    align-items: center;
}
.NavTitle img{
  height: 1em;
}

.navFilter {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
